In [1]:
print ('Hello World')

Hello World

In [2]:
a = 10

In [3]:
id(a)

94723502536000

In [5]:
b = 10

In [6]:
id(b)

94723502536000

In [7]:
c = 1000

In [8]:
d = 1000

In [9]:
id(c)

139707978704304

In [10]:
id(d)

139707978704336

In [11]:
type(a)

int

In [12]:
b = "abc"

In [13]:
type(b)

str

In [14]:
my_string = "Hello world"

In [16]:
my_string[2:5]

'llo'

In [21]:
my_string = my_string[::-1]

In [19]:
my_string[0] = 'g'

TypeError: 'str' object does not support item assignment

In [22]:
my_string.count('o')

2

In [23]:
my_string.count(' ')

1

In [26]:
urls = ['www.edyoda.com', 'www.airbus.com', 'www.abc']

In [28]:
for url in urls:
    if url.endswith('.com'):
        print (url)
    print ('Great')
print ('Airbus')

www.edyoda.com
Great
www.airbus.com
Great
Great
Airbus

In [29]:
for url in urls:
    if url.endswith('.com'):
        pass

In [30]:
s = 'hello abra ka dabra'

In [33]:
s.find(' ',11)

13

In [34]:
start = 0
while True:
    l = s.find(' ',start)
    if l >= 0:
        print (l)
        start = l + 1
    else:
        break

5
10
13

In [35]:
hike_letter = "Hello {name}, congrats on getting hike of {pct}%"

In [36]:
hike_letter.format(pct=45, name='Akash')

'Hello Akash, congrats on getting hike of 45%'

In [37]:
s.isalpha()

False

In [38]:
d = '21212'

In [39]:
d.isdigit()

True

In [40]:
s

'hello abra ka dabra'

In [42]:
s.replace(' ','')

'helloabrakadabra'

In [43]:
s.split()

['hello', 'abra', 'ka', 'dabra']

In [44]:
s

'hello abra ka dabra'

In [45]:
l = [1,22,3.45,'hello','great world']

In [46]:
l.append('hello')

In [49]:
m = l

In [50]:
l[0] = 99999

In [51]:
m

[99999, 22, 3.45, 'hello', 'great world', 'hello']

In [52]:
k = l.copy()

In [53]:
l[0] = 1111

In [54]:
k

[99999, 22, 3.45, 'hello', 'great world', 'hello']

In [55]:
type(l)

list

In [56]:
l.extend(k)

In [57]:
l

[1111,
 22,
 3.45,
 'hello',
 'great world',
 'hello',
 99999,
 22,
 3.45,
 'hello',
 'great world',
 'hello']

In [62]:
l.insert(1,'jasajshkjash')

In [63]:
l

[1111,
 'jasajshkjash',
 22,
 3.45,
 'hello',
 'great world',
 'hello',
 99999,
 22,
 3.45,
 'hello',
 'great world',
 'hello']

In [64]:
l.pop(2)

22

In [72]:
help(l.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [68]:
l

[1111,
 'jasajshkjash',
 3.45,
 'great world',
 'hello',
 99999,
 22,
 3.45,
 'hello',
 'great world',
 'hello']

In [69]:
len(l)

11

In [71]:
for idx,elem in enumerate(l):
    print (idx, elem)

0 1111
1 jasajshkjash
2 3.45
3 great world
4 hello
5 99999
6 22
7 3.45
8 hello
9 great world
10 hello

In [75]:
while True:
    try:
        l.remove('hello')
    except:
        break

In [76]:
l

[1111, 'jasajshkjash', 3.45, 'great world', 99999, 22, 3.45, 'great world']

In [77]:
a = 10
b = 20

In [78]:
a,b = b,a

In [79]:
b

10

In [80]:
db = {}

In [81]:
db = dict()

In [84]:
hash(['hello'])

TypeError: unhashable type: 'list'

In [85]:
db['abc'] = 11

In [86]:
db

{'abc': 11}

In [87]:
db['def'] = 12

In [88]:
db

{'abc': 11, 'def': 12}

In [90]:
db['defg']

KeyError: 'defg'

In [91]:
db.items()

dict_items([('abc', 11), ('def', 12)])

In [92]:
for k,v in db.items():
    print (k,v)

abc 11
def 12

In [93]:
db = {'a':10, 'b':2323}

In [94]:
dx = {None:10}

In [96]:
dx[None]

10

In [97]:
dx['asb'] = 767

In [98]:
dx

{None: 10, 'asb': 767}

In [99]:
dx.keys()

dict_keys([None, 'asb'])

In [100]:
dx.values()

dict_values([10, 767])

In [103]:
len(dx.items())

2

In [104]:
'a' in 'aeoid'

True

In [105]:
None in dx

True

In [106]:
db = {'jack':10, 'jill':12, 'harry':12, 'ale':12}

In [107]:
db

{'jack': 10, 'jill': 12, 'harry': 12, 'ale': 12}

In [108]:
new_db = {}
for k,v in db.items():
    if v not in new_db:
        new_db[v] = [k]
    else:
        new_db[v].append(k)

In [109]:
new_db

{10: ['jack'], 12: ['jill', 'harry', 'ale']}

In [110]:
data = ('hello',1)

In [111]:
type(data)

tuple

In [114]:
data = ('hello',)

In [115]:
type(data)

tuple

In [116]:
def func(arg1, arg2):
    return "Hello","World"

In [117]:
func(1,2)

('Hello', 'World')

In [121]:
def vargsfunc(*args):
    if len(args) > 2:
        print ('Hello')
    else:
        print ('World')

In [122]:
vargsfunc(1,2,3,4)

Hello

In [123]:
vargsfunc(1,2)

World

In [124]:
def func(name,age,loc):
    print (name,age,loc)

In [125]:
l = ['abc',22,'mum']

In [126]:
func(*l)

abc 22 mum

In [127]:
def kwargsfunc(**kwargs):
    print (kwargs)

In [128]:
kwargsfunc(name='abc',loc='blore',age=10)

{'name': 'abc', 'loc': 'blore', 'age': 10}

In [129]:
kwargsfunc(team='team-abc',loc='blore',salary=8989810)

{'team': 'team-abc', 'loc': 'blore', 'salary': 8989810}

In [130]:
def func(name,age,loc):
    print (name,age,loc)

In [131]:
db = {'name':'abc','loc':'mum','age':20}

In [132]:
func(**db)

abc 20 mum

In [135]:
f = lambda x,y: x + y

In [136]:
f(10,11)

21

In [137]:
l = list(range(100))

In [141]:
list(filter(lambda x:x%5 == 0, l))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [142]:
data = [('abc',10),('uxa',20),('axz',1)]

In [144]:
sorted(data, key=lambda elem:elem[1])

[('axz', 1), ('abc', 10), ('uxa', 20)]

In [145]:
l = ['abcd','ab','abcdef','x']

In [147]:
sorted(l, key=lambda s: len(s))

['x', 'ab', 'abcd', 'abcdef']

In [148]:
def gen_even_itr():
    d = 0
    while True:
        d += 2
        yield d

In [149]:
f = gen_even_itr()

In [150]:
next(f)

2

In [151]:
next(f)

4

In [152]:
l = ['hello','how','are','you']

In [153]:
def gen_even_itr():
    d = 0
    l = ['hello','how','are','you']
    while True:
        yield l[d]
        d = (d+1)%len(l)

In [154]:
f = gen_even_itr()

In [159]:
next(f)

'hello'

### Object Oriented Programming

In [193]:
class Server:
    def __init__(self,name,location, price):
        self.name = name
        self.location = location
        self.price = price
        
    def __repr__(self):
        return self.name + ' ' + self.location + ' ' + str(self.price)
    
    def __add__(self,s):
        return Server(self.name, self.location, self.price + s.price)
    
    def __hash__(self):
        return hash(self.name) + hash(self.price)
    
    def __eq__(self,s):
        return (self.name == s.name) and (self.location == s.location) and (self.price == s.price)

In [161]:
s = Server('abc','mumbai')

In [162]:
s

abc mumbai

In [163]:
class Database:
    pass

In [164]:
d = Database()

In [165]:
d.name = "abc"
d.loc = "mumbai"

In [167]:
d.__dict__

{'name': 'abc', 'loc': 'mumbai'}

In [168]:
help(setattr)

Help on built-in function setattr in module builtins:

setattr(obj, name, value, /)
    Sets the named attribute on the given object to the specified value.

    setattr(x, 'y', v) is equivalent to ``x.y = v''

In [169]:
setattr(d,"age",10)

In [170]:
d.__dict__

{'name': 'abc', 'loc': 'mumbai', 'age': 10}

In [176]:
d.__dict__['age1'] = 99

In [177]:
d.__dict__

{'name': 'abc', 'loc': 'mumbai', 'age': 10, 'age1': 99}

In [188]:
s1 = Server("A","Blore",1000)

In [189]:
s2 = Server("B","Blore",2000)

In [190]:
s1 + s2

A Blore 3000

In [192]:
s1.__add__(s2)

A Blore 3000

In [196]:
s1 = Server("A","Blore",1000)
s2 = Server("A","Blore",1000)

In [197]:
db = {}

In [199]:
db[s1] = 10

In [200]:
db[s2] = 20

In [201]:
db

{A Blore 1000: 20}

In [203]:
class Generic:
    def __init__(self, **kwargs):
        for k,v in kwargs.items():
            setattr(self,k,v)
    
    def common_utility(self):
        print (self.__dict__)

In [204]:
g1 = Generic(name='abc',loc='blore')
g2 = Generic(server='xyz',price=100)

In [205]:
g1.common_utility()

{'name': 'abc', 'loc': 'blore'}

In [206]:
g2.common_utility()

{'server': 'xyz', 'price': 100}

In [208]:
isinstance(g1,Generic)

True