In [5]:
a = 1111

In [7]:
id(a)

2109740377712

In [6]:
b = 1111

In [8]:
id(b)

2109740378640

In [9]:
a = 1
b = 2

In [10]:
a,b = b,a
#a,b = 2,1

In [11]:
l = [1,2,'hello',[2,3]]

In [12]:
l.append(100)

In [13]:
l

[1, 2, 'hello', [2, 3], 100]

In [14]:
db = {'a':[1,2,3],'b':[5,6,7]}

In [15]:
db

{'a': [1, 2, 3], 'b': [5, 6, 7]}

In [16]:
db['a']

[1, 2, 3]

In [22]:
db = {'a':'abc','b':'abc','g':'jkl'}

In [18]:
db

{'a': 'abc', 'b': 'cdf', 'g': 'jkl'}

In [19]:
db.keys()

dict_keys(['a', 'b', 'g'])

In [20]:
db.values()

dict_values(['abc', 'cdf', 'jkl'])

In [23]:
for k,v in db.items():
    print (k,v)

a abc
b abc
g jkl

In [24]:
new_db = {}

In [25]:
for k,v in db.items():
    if v not in new_db:
        new_db[v]=[k]
    else:
        new_db[v].append(k)

In [28]:
l = [1,2,3,4,4,5]

In [29]:
s = set(l)

In [30]:
s

{1, 2, 3, 4, 5}

In [31]:
t = set([3,4])

In [32]:
s - t

{1, 2, 5}

In [40]:
def fun(*args):
    a,b,_c,_ = args[0],args[1],args[2],args[3:]
    print (a+b+c)

In [41]:
fun(1,2,3,4)

6

In [42]:
fun(1,2,3,3,3,3,3)

6

In [56]:
def fun(a,b,c):
    print (a+b+c)

In [59]:
l = [11,22,33]

In [60]:
fun(*l)

66

In [46]:
def fun(name,loc,age,salary):
    print (name,loc,age,salary)

In [47]:
fun(loc='bangalore',name='awi',age=21,salary=100)

awi bangalore 21 100

In [52]:
db = {'loc':'blr','name':'awi','age':22,'salary':10000}

In [53]:
fun(**db)

awi blr 22 10000

In [65]:
def funckwargs(**kwargs):
    if 'abc' in kwargs:
        print (kwargs['abc'])

In [66]:
funckwargs(abc=10,defg='abc',jkl=111)

10

In [70]:
def myfunc(a, *args, **kwargs):
    print (a,args,kwargs)

In [71]:
myfunc(11,'a','b','c',abc=11,ghi=22,jkl=33)

11 ('a', 'b', 'c') {'abc': 11, 'ghi': 22, 'jkl': 33}

In [72]:
def f(x):
    return x+1

In [73]:
a = lambda x:x+1

In [74]:
a(1)

2

In [75]:
b = lambda x,y:x+y

In [76]:
b(22,33)

55

In [77]:
def func_generator(degree):
    return lambda x: x**degree

In [78]:
f5 = func_generator(5)

In [79]:
f5(10)

100000

In [80]:
f3 = func_generator(3)

In [81]:
f3(10)

1000

In [82]:
degreefunc = []
for i in range(1,10):
    degreefunc.append(func_generator(i))

In [88]:
l = ['1','2','3','4','5','6']

In [85]:
l = map(lambda x:int(x), l)

In [86]:
list(l)

[1, 2, 3, 4, 5, 6]

In [89]:
list(map(int, l))

[1, 2, 3, 4, 5, 6]

In [92]:
l = ['abc','def','ghi','jkl']

In [91]:
range(10)

range(0, 10)

In [95]:
list(filter(lambda s: s.startswith('a'),l))

['abc']

In [96]:
list(map(len,l))

[3, 3, 3, 3]

In [108]:
l = range(100)

In [115]:
m = filter(lambda x:x%10 == 0,l)

In [116]:
list(m)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [117]:
for elem in m:
    print (elem)

In [118]:
from itertools import cycle

In [120]:
i = cycle([1,2,3])

In [125]:
for c in range(10):
    print (next(i))

2
3
1
2
3
1
2
3
1
2

In [136]:
[list(range(i)) for i in range(2,18,2)]

[[0, 1],
 [0, 1, 2, 3],
 [0, 1, 2, 3, 4, 5],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]]

In [137]:
[list(range(i)) for i in range(2,18) if i%2 == 0]

[[0, 1],
 [0, 1, 2, 3],
 [0, 1, 2, 3, 4, 5],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]]

In [184]:
class Emp:
    def __init__(self,name,age,loc='blore'):
        self.__name = name
        self.age = age
        self.loc = loc
        self.work_days = 0
        
    def work(self):
        print (self.__name + 'works today')
        
    def no_work():
        print ('Nothing to work')

In [181]:
e = Emp('abc',22,'mumbai')

In [182]:
e.__dict__

{'_Emp__name': 'abc', 'age': 22, 'loc': 'mumbai', 'work_days': 0}

In [149]:
e.salary = 100000

In [150]:
e.__dict__

{'_Emp__name': 'abc', 'age': 22, 'loc': 'mumbai', 'salary': 100000}

In [158]:
e._Emp__name = 'ghi'

In [159]:
e.__dict__

{'_Emp__name': 'ghi', 'age': 22, 'loc': 'mumbai', 'salary': 100000}

In [169]:
# def work():
#     i = 0
#     print ('Work Never stops')
#     while True:
#         yield 'day '+1

In [167]:
#w = work()

In [170]:
#w.send(1)

In [183]:
e.work()

abcworks today

In [185]:
Emp.no_work()

Nothing to work

In [187]:
Emp.no_work()

Nothing to work

In [213]:
class Complex:
    def __init__(self,r,i):
        self.r = r
        self.i = i
        
    def __add__(self,c):
        return Complex(self.r+c.r, self.i+c.i)
    
    def __repr__(self):
        return str(self.r)+' + '+str(self.i)+'i'

In [214]:
c1 = Complex(5,10)

In [215]:
c2 = Complex(3,4)

In [216]:
c1 + c2

8 + 14i

In [217]:
c1

5 + 10i

In [243]:
class Emp:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
class HardWorker:
    def __init__(self,loc,smartness):
        self.smartness = smartness
        self.loc = loc
        
class Manager(Emp):
    def __init__(self,name,age,loc,smartness,expr):
        Emp.__init__(self,name,age)
        HardWorker.__init__(self,loc,smartness)
        self.expr = expr

In [244]:
m = Manager('awi',22,'blr',2.3,10)

In [245]:
m.__dict__

{'age': 22, 'expr': 10, 'loc': 'blr', 'name': 'awi', 'smartness': 2.3}

In [236]:
def my_gen_func():
    n = 1
    while True:
        print('This is printed first')
        n += 1
        yield n

In [237]:
a = my_gen_func()

In [238]:
next(a)

This is printed first

2

In [279]:
import math
def getNextPrime(x):
    x += 1
    while True:
        r = int(math.sqrt(x))
        print (r)
        for i in range(2,r+2):
            if x%i == 0:
                x += 1
                break
        if x%i != 0:
            return x

In [280]:
def getNextNumber():
    num = 1
    print ('First Time')
    while True:
        num = getNextPrime(num)
        yield num

In [281]:
nxtNum = getNextNumber()

In [282]:
next(nxtNum)

First Time
1

3

In [283]:
next(nxtNum)

2

5

In [284]:
next(nxtNum)

2

7

In [285]:
next(nxtNum)

2

9

In [278]:
next(nxtNum)

3

11

In [300]:
def log(func):
    def newFunc():
        print ('Hello comming up soon')
        return func()
    return newFunc

@log
def hello():
    return 'Hello'
    
# @log
# def jello():
#     print ('Jello')

In [302]:
res = hello()

Hello comming up soon

In [296]:
#jello()

In [303]:
res

'Hello'

In [305]:
import time
from threading import Thread

def sleeper(i):
    print ("thread %d sleeps for 5 seconds" % i)
    time.sleep(5)
    print ("thread %d woke up" % i)

for i in range(10):
    t = Thread(target=sleeper, args=(i,))
    t.start()

thread 0 sleeps for 5 secondsthread 1 sleeps for 5 secondsthread 2 sleeps for 5 seconds


thread 3 sleeps for 5 secondsthread 4 sleeps for 5 seconds

thread 5 sleeps for 5 seconds
thread 6 sleeps for 5 seconds
thread 7 sleeps for 5 seconds
thread 8 sleeps for 5 seconds
thread 9 sleeps for 5 seconds
thread 0 woke up
thread 6 woke upthread 7 woke up
thread 8 woke up
thread 4 woke up
thread 2 woke up
thread 1 woke upthread 3 woke up
thread 5 woke up
thread 9 woke up

In [313]:
def mult(f):
    def newFunc(a,b):
        if a%2 ==0 and b%2 ==0:
            print (a*b)
        else:
            f(a,b)
    return newFunc

@mult
def fun(a,b):
    print (a+b)

In [314]:
fun(2,3)

5

In [315]:
fun(2,4)

8

In [323]:
from time import sleep
from threading import Thread
import os

In [327]:
def hello(name):
    #sleep(10)
    print ('Say Hello to ',name, os.getpid())

In [325]:
for i in ['Jack','Mary','John']:
    t = Thread(target=hello, args=(i,))
    t.start()

Say Hello to Say Hello to Say Hello to  Mary 28256
 John 28256 Jack 28256

In [330]:
t1 = Thread(target=hello,args=('abc',))
t2 = Thread(target=hello,args=('def',))

In [331]:
t1.start()
t2.start()

Say Hello to  abc 28256
Say Hello to  def 28256

In [332]:
t1.join()
t2.join()

In [336]:
import asyncio

def hello_world(loop):
    print('Hello World')
    loop.stop()

loop = asyncio.get_event_loop()

# Schedule a call to hello_world()
loop.call_soon(hello_world, loop)

# Blocking call interrupted by loop.stop()
loop.run_forever()
loop.close()

Hello World