In [1]:
### Dictionary

db = {'a':10, 'b':20, 'c':30, 'd':40}

In [2]:

db.items()

dict_items([('b', 20), ('d', 40), ('a', 10), ('c', 30)])

In [5]:
for k,v in db.items():
    print (k,v)

b 20
d 40
a 10
c 30

In [6]:
db['a']

10

In [7]:
db.keys()

dict_keys(['b', 'd', 'a', 'c'])

In [8]:
db.values()

dict_values([20, 40, 10, 30])

In [9]:
#Tuple
#Immutable
a = (1,2)

In [10]:
type(a)

tuple

In [ ]:
db = {}

In [12]:
hash('hello')

-4441862245315338652

In [14]:
#hash([1,2,3,34])

In [19]:
stdb = {
    'aks':{
        'maths':99,
        'science':67,
        'english':66
    },
    'jack':{
        'maths':89,
        'science':67,
        'english':56,
        'history':66
    }
}

In [16]:
stdb['aks']['maths']

99

In [18]:
if 'maths' in stdb['aks']:
    print ('Has maths')

Has maths

In [22]:
try:
    stdb['aks']['history']
except:
    print('Not present')

Not present

In [23]:
'a' in 'abcdef'

True

In [24]:
'hello' in ['hey','hello']

True

In [25]:
'aks' in stdb

True

In [28]:
for k,v in stdb.items():
    print (v.keys())

dict_keys(['science', 'english', 'maths'])
dict_keys(['history', 'science', 'english', 'maths'])

In [29]:
db = {'a':5, 'b':10, 'c':5, 'd':10, 'e':15, 'f':5}

In [30]:
db

{'a': 5, 'b': 10, 'c': 5, 'd': 10, 'e': 15, 'f': 5}

In [32]:
#init a dict
new_db = {}
for k,v in db.items():
    #if v is not present as a key in new_db, create an entry
    if v not in new_db:
        new_db[v] = [k]
    else:
    #if v is present as a key, append data to that list
        new_db[v].append(k)
        
print (new_db)

{10: ['b', 'd'], 5: ['a', 'c', 'f'], 15: ['e']}

In [46]:
def f(d):
    print (d)
    return d[1]

max(db.items())

('f', 5)

In [37]:
db

{'a': 5, 'b': 10, 'c': 5, 'd': 10, 'e': 15, 'f': 5}

In [38]:
max(db.items(),key=lambda x:x[1])

('e', 15)

In [39]:
db.items()

dict_items([('b', 10), ('e', 15), ('d', 10), ('a', 5), ('c', 5), ('f', 5)])

In [41]:
max(db.values())

15

In [42]:
db.values()

dict_values([10, 15, 10, 5, 5, 5])

In [44]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [47]:
## Functions

In [58]:
## Return multiple data
def fun1():
    return 'hello','hey'

In [59]:
a,b = fun1()

In [51]:
x = 7
y = 9

In [53]:
y

7

In [54]:
x

9

In [57]:
fun1()

['hello', 'hey']

In [60]:
def ops(x,y):
    return x*y, x+y

In [68]:
m,a = ops(5,6)

In [62]:
m

30

In [63]:
a

11

In [64]:
res = ops(5,6)

In [65]:
y = res[1]

In [66]:
x = res[0]

In [74]:
##Default arguments
###Default values towards right

In [69]:
def f(a,b=10):
    return a*b

In [71]:
f(10)

100

In [73]:
f(20,3)

60

In [79]:
###Variable arguments
def f(*args):
    print(sum(args))

In [80]:
f(1,2,3,4)

10

In [81]:
f(1,2,3)

6

In [90]:
def findEven(*args):
    s = 0
    print('Elems',len(args))
    for arg in args:
        if arg%2 ==0:
            s += arg
    return s

In [91]:
findEven(3,4,5,6,6,7,8,8)

Elems 8

32

In [85]:
findEven(3,4,5,6,6,17,8,18)

4
6
6
8
18

In [92]:
s = 1

In [93]:
s += 1

In [94]:
s -= 1

In [101]:
def fun2(a,b,c=10):
    print (a+b)

In [102]:
l = [1,2]
fun2(*l)

3

In [103]:
def fun3(*args):
    print (args)

In [105]:
fun3(*l) # ->fun3(1,2)
#fun3(1,2,3)

(1, 2)

In [106]:
###Keywords based arguments

def fun(name,age,location):
    print (name,age,location)

In [107]:
fun(location='bangalore',name='awantik',age=55)

awantik 55 bangalore

In [119]:
#kw_dict = {'location':'Bagalore','name':'abc','age':77}

In [120]:
def kwfunc1(**kwargs):
    if 'location' in kwargs:
        print (kwargs['location'])
    if 'area' in kwargs:
        print (kwargs['area'])

In [121]:
kwfunc1(location='bangalore',name='awantik',age=55)

bangalore

In [122]:
kwfunc1(area='karnataka',name='awantik',age=55)

karnataka

In [133]:
def kwfunc2(d, *args,**kwargs):
    print ('data',d)
    print ('vargs',args)
    if 'loc' in kwargs:
        print (kwargs['loc'])
    if 'name' in kwargs:
        print (kwargs['name'])

In [135]:
kwfunc2('hello',1,2,3,4, name='awantik',loc='bangalore')

data hello
vargs (1, 2, 3, 4)
bangalore
awantik

In [130]:
def kwfunc4(d, *args):
    print ('data',d)
    print ('vargs',args)

In [131]:
kwfunc4('hello',1,2,3,4, name='awantik',loc='bangalore')

TypeError: kwfunc4() got an unexpected keyword argument 'name'

In [138]:
kwfunc2('hello', name='awantik',loc='bangalore',)

data hello
vargs ()
bangalore
awantik

In [139]:
def fun4(name,age,location):
    print(name,age,location)

In [140]:
db = {'name':'awi','age':88,'location':'bangalore'}

In [141]:
fun4(**db)
#fun4(name='awi',age=88,location='bangalore')

awi 88 bangalore

In [142]:
###Lambda - Functions without names

In [143]:
f = lambda x:x*2

def fx(x):
    return 2*x

In [144]:
f(5)

10

In [145]:
g = lambda x,y: x+y

In [146]:
g(5,7)

12

In [147]:
l = [ (1,2),(44,21),(55,3),(66,2) ]

In [148]:
max(l,key=lambda x:x[0])

(66, 2)

In [149]:
sorted(l,key=lambda x:x[1])

[(1, 2), (66, 2), (55, 3), (44, 21)]

In [150]:
h = lambda x,y: x if x >y else y

In [151]:
h(6,7)

7

In [152]:
## List Comprehension

In [154]:
l = [x for x in range(10)]

In [155]:
[1 for x in range(10)]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [159]:
l = [x for x in range(10) if x%2 == 0]

In [160]:
l

[0, 2, 4, 6, 8]

In [161]:
[[1],[1,2,],[1,2,3]]

[[1], [1, 2], [1, 2, 3]]

In [163]:
[ [i for i in range(x)] for x in range(1,10) if x%2==0]

[[0, 1], [0, 1, 2, 3], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5, 6, 7]]

In [164]:
###Generators

In [166]:
l = range(100)

In [168]:
list(l)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [173]:
list(range(5,10,2))

[5, 7, 9]

In [174]:
[(x,x) for x in range(10)]

[(0, 0),
 (1, 1),
 (2, 2),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9)]