#### Dynamic Typing in Python

In [5]:
a = 1

In [2]:
type(a)

int

In [3]:
a = 'hello'

In [4]:
type(a)

str

#### Automatic Memory Management

In [6]:
a = 'hello world'

In [7]:
id(a)

140253164454704

In [8]:
x = 1
y = 1

In [9]:
id(x)

94277476238208

In [10]:
id(y)

94277476238208

In [11]:
x = 1111
y = 1111

In [12]:
id(x)

140253164458992

In [13]:
id(y)

140253164459024

In [14]:
a = 10
b = 20

In [15]:
a,b = b,a
#a,b = 20,10

In [16]:
b

10

### Strings

In [20]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [41]:
s1 = 'hello world here i come'

In [22]:
s2 = s1.capitalize()

'Hello world here i come'

In [23]:
s1

'hello world here i come'

In [26]:
s1[2:5]

'llo'

In [28]:
s1[-4:-2]

'co'

In [29]:
s1[::-1]

'emoc i ereh dlrow olleh'

In [32]:
s1[::2]

'hlowrdhr  oe'

In [33]:
s2 = 'hello world'

In [36]:
s2[6:]+ ' ' + s2[:5]

'world hello'

In [37]:
s1 = 'hello World'

In [38]:
s2 = 'Hello world'

In [40]:
s1.casefold() == s2.casefold()

True

In [43]:
s1.count('he')

2

In [44]:
len(s1)

23

In [45]:
s1.endswith('come')

True

In [46]:
s1.find(' ')

5

In [47]:
s1

'hello world here i come'

In [51]:
s1.find(' ',19)

-1

In [53]:
s = 'Hello Mr/Ms {name}, Congrats on your appraisal of {percent}%'

In [54]:
s.format(name='Rajesh', percent=300)

'Hello Mr/Ms Rajesh, Congrats on your appraisal of 300%'

In [55]:
s.format(name='Raju', percent=3)

'Hello Mr/Ms Raju, Congrats on your appraisal of 3%'

In [56]:
s1.isspace()

False

In [57]:
s2 = '  hello world '

In [58]:
s2.strip()

'hello world'

In [63]:
map_tab = ''.maketrans('aeiou',' '*5)

In [64]:
s3 = 'hello this is a cat'

In [65]:
s3.translate(map_tab)

'h ll  th s  s   c t'

In [62]:
map_tab

{97: 49, 101: 50, 105: 51, 111: 52, 117: 53}

In [68]:
s1.split('i')

['hello world here ', ' come']

### Understanding List

In [69]:
l = [1,2,3,4.4,5.6,'heloo','scio','chennai']

In [70]:
l

[1, 2, 3, 4.4, 5.6, 'heloo', 'scio', 'chennai']

In [71]:
l[0]='jkahskjaHKJHkjHS'

In [73]:
l

['jkahskjaHKJHkjHS', 2, 3, 4.4, 5.6, 'heloo', 'scio', 'chennai']

In [75]:
l[-3:]

['heloo', 'scio', 'chennai']

In [76]:
l[::-1]

['chennai', 'scio', 'heloo', 5.6, 4.4, 3, 2, 'jkahskjaHKJHkjHS']

In [78]:
l.reverse()

In [79]:
l

['chennai', 'scio', 'heloo', 5.6, 4.4, 3, 2, 'jkahskjaHKJHkjHS']

In [80]:
l.append(122)

In [81]:
l

['chennai', 'scio', 'heloo', 5.6, 4.4, 3, 2, 'jkahskjaHKJHkjHS', 122]

In [82]:
l.append([22,33,44])

In [83]:
l

['chennai',
 'scio',
 'heloo',
 5.6,
 4.4,
 3,
 2,
 'jkahskjaHKJHkjHS',
 122,
 [22, 33, 44]]

In [84]:
m = l

In [86]:
m[0] = 'ahjahjah'

In [87]:
m

['ahjahjah',
 'scio',
 'heloo',
 5.6,
 4.4,
 3,
 2,
 'jkahskjaHKJHkjHS',
 122,
 [22, 33, 44]]

In [88]:
k = m.copy()

In [89]:
k[0] = 871

In [90]:
m

['ahjahjah',
 'scio',
 'heloo',
 5.6,
 4.4,
 3,
 2,
 'jkahskjaHKJHkjHS',
 122,
 [22, 33, 44]]

In [92]:
l[-1][-1]

44

In [93]:
l2 = [1,2,3]
l3 = [4,5,6]

In [94]:
l2.extend(l3)

In [95]:
l2

[1, 2, 3, 4, 5, 6]

In [97]:
l3[0] =99

In [98]:
l2

[1, 2, 3, 4, 5, 6]

In [100]:
l.index('heloo')

2

In [103]:
'heloo' not in l

False

In [102]:
'a' in 'helloaa kj'

True

In [104]:
isinstance(6,int)

True

In [105]:
isinstance('hello',str)

True

In [107]:
l.insert(2,'zzzz')

In [108]:
l

['ahjahjah',
 'scio',
 'zzzz',
 'heloo',
 5.6,
 4.4,
 3,
 2,
 'jkahskjaHKJHkjHS',
 122,
 [22, 33, 44]]

In [109]:
l.pop(3)

'heloo'

In [110]:
l

['ahjahjah',
 'scio',
 'zzzz',
 5.6,
 4.4,
 3,
 2,
 'jkahskjaHKJHkjHS',
 122,
 [22, 33, 44]]

In [112]:
l.remove(3)

In [113]:
s = 'i love my country'

In [114]:
l = s.split()

In [115]:
l

['i', 'love', 'my', 'country']

In [116]:
l.reverse()

In [117]:
l

['country', 'my', 'love', 'i']

In [118]:
'-'.join(l)

'country-my-love-i'

In [120]:
'hello'+str(6)

'hello6'

In [124]:
k[-1].append(444)

In [125]:
k

[871,
 'scio',
 'heloo',
 5.6,
 4.4,
 3,
 2,
 'jkahskjaHKJHkjHS',
 122,
 [22, 33, 44, 444]]

In [126]:
k.reverse()

In [128]:
k[0].reverse()

In [129]:
k

[[444, 44, 33, 22],
 122,
 'jkahskjaHKJHkjHS',
 2,
 3,
 4.4,
 5.6,
 'heloo',
 'scio',
 871]

In [130]:
for i in k:
    print (i)

[444, 44, 33, 22]
122
jkahskjaHKJHkjHS
2
3
4.4
5.6
heloo
scio
871

In [134]:
for ch in s1:
    if ch != ' ':
        print (ch)
        print ('in if')
    print ('hello')
print ('outside for')

h
in if
hello
e
in if
hello
l
in if
hello
l
in if
hello
o
in if
hello
hello
w
in if
hello
o
in if
hello
r
in if
hello
l
in if
hello
d
in if
hello
hello
h
in if
hello
e
in if
hello
r
in if
hello
e
in if
hello
hello
i
in if
hello
hello
c
in if
hello
o
in if
hello
m
in if
hello
e
in if
hello
outside for

In [138]:
names = ['jack','jill','abc','john','rajesh']

In [ ]:
output = ['jack','jill','john','rajesh']

In [139]:
output = []
for name in names:
    if 'j' in name.casefold():
        output.append(name)

In [140]:
output

['jack', 'jill', 'john', 'rajesh']

### Dictionary

In [148]:
db = {'1':['Awa','Blre',55],2:'abc','3':'ancbv'}

In [151]:
db

{'1': ['Awa', 'Blre', 55], 2: 'abc', '3': 'ancbv'}

In [150]:
db[2]

'abc'

In [147]:
db

{1: ['Awa', 'Blre', 55], 2: 'abc', '3': 'ancbv'}

In [152]:
db[2]

'abc'

In [156]:
for k,v in db.items():
    print (k,v)

1 ['Awa', 'Blre', 55]
2 abc
3 ancbv

In [157]:
db.keys()

dict_keys(['1', 2, '3'])

In [158]:
list(db.items())

[('1', ['Awa', 'Blre', 55]), (2, 'abc'), ('3', 'ancbv')]

In [159]:
type(db)

dict

In [178]:
marks = {'A':{'M':10,'S':12,'E':7},'B':{'M':11,'S':1,'E':11}}

In [162]:
marks['B']['S']

1

In [179]:
stds = {}

In [180]:
for std,mark in marks.items():
    print (std,mark, sum(mark.values()))
    stds[std] = sum(mark.values())

A {'M': 10, 'S': 12, 'E': 7} 29
B {'M': 11, 'S': 1, 'E': 11} 23

In [191]:
def getkey(e):
    return e[1]

sorted(stds.items(),reverse=True, key=getkey)

[('A', 29), ('B', 23)]

In [185]:
servers = {'A':'X','B':'Y','C':'X','D':'Y'}

In [186]:
new_db = {}
for k,v in servers.items():
    if v in new_db:
        new_db[v].append(k)
    else:
        new_db[v] = [k]

In [187]:
new_db

{'X': ['A', 'C'], 'Y': ['B', 'D']}

In [188]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [192]:
max(stds.items(), key=getkey)

('A', 29)

In [193]:
s = (3,)

In [194]:
type(s)

tuple

In [196]:
s[0]

3

### Functions

In [197]:
def evenOrOdd(num):
    if num % 2 == 0:
        return 'Even'
    else:
        return 'Odd'

In [198]:
evenOrOdd(88)

'Even'

#### Random number of random even numbers

In [205]:
from random import randint

In [207]:
def randomGenerator(num_rand):
    rand = []
    for i in range(num_rand):
        rand.append(randint(1,100))
    return rand

In [208]:
randomGenerator(10)

[8, 76, 3, 7, 38, 47, 93, 78, 89, 35]

In [209]:
def randomNumEvenRandom(max_rand):
    even_list = []
    rand = randomGenerator(max_rand)
    for elem in rand:
        if evenOrOdd(elem) == 'Even':
            even_list.append(elem)
    return even_list

In [211]:
res = randomNumEvenRandom(100)

In [212]:
len(res)

49

In [213]:
def returnMult():
    return 'Hello',11,"hkii"

In [214]:
returnMult()

('Hello', 11, 'hkii')

In [215]:
def namedArgsFunc(name,age,gender='female',location='Chennai'):
    print (name,age,gender)

In [216]:
namedArgsFunc('Awantik','44')

Awantik 44 female

In [219]:
def mysum(*args):
    for a in args:
        print (a)

In [220]:
mysum(1,2,2,2,2,2)

1
2
2
2
2
2

In [221]:
def myfunc(a,b,c):
    print (a,b,c)

In [222]:
l = [1,2,3]

In [223]:
myfunc(*l)

1 2 3

In [227]:
def kwfunc(name,loc,age):
    print (name,loc,age)

In [233]:
db = {'name':'abc','age':22, 'loc':'chennai'}

In [234]:
kwfunc(**db)

abc chennai 22

In [238]:
def kwbasedfunc(**kwargs):
    if 'name' in kwargs:
        print (kwargs['name'])

In [239]:
kwbasedfunc(name='abc',loc='def')

abc

In [240]:
def myfunc(name,*vargs,**kwargs):
    print (name,vargs,kwargs)

In [246]:
a = 10

In [247]:
del a

In [249]:
import gc

In [250]:
gc.get_stats()

[{'collections': 428, 'collected': 32174, 'uncollectable': 0},
 {'collections': 38, 'collected': 50768, 'uncollectable': 0},
 {'collections': 3, 'collected': 15450, 'uncollectable': 0}]

In [252]:
gc.get_threshold()

(700, 10, 10)

#### Understanding Sets

In [253]:
l = [1,2,3,1,1,2,3]

In [255]:
s1 = set(l)

In [256]:
s2 =set([3,4,5,1,'abc'])

In [257]:
s2

{1, 3, 4, 5}

In [258]:
s1

{1, 2, 3}

In [259]:
s1 & s2

{1, 3}

In [260]:
s1 | s2

{1, 2, 3, 4, 5}

In [264]:
hash(1)

1

In [265]:
s1 - s2

{2}

In [266]:
s1 ^ s2

{2, 4, 5}

In [267]:
s1

{1, 2, 3}

In [268]:
s2

{1, 3, 4, 5}

In [269]:
s1.symmetric_difference(s2)

{2, 4, 5}

#### Exception Handling

In [270]:
s = 'abcdef'

In [274]:
try:
    s.index('a')
    print ('a is present')
except:
    print ('hello')
finally:
    print ('The end')

a is present
The end

#### Problem : Find best dish veggies

In [275]:
db = {'A':['3','2'], 'B':['2','1'], 'C':['1','2','3'], 'D':['1','2']}

In [276]:
new_db = {}
for k,v in db.items():
    for e in v:
        if e in new_db:
            new_db[e] = new_db[e]+1
        else:
            new_db[e] = 1

In [278]:
sorted(new_db.items(),key=getkey,reverse=True)

[('2', 4), ('1', 3), ('3', 2)]

#### Functional Programming

In [282]:
l = lambda x,y:x+y

In [283]:
l(11,22)

33

In [284]:
def f(x,y):
    return x+y

In [285]:
sorted(new_db.items(),key=lambda x:x[1],reverse=True)

[('2', 4), ('1', 3), ('3', 2)]

In [286]:
def gen_func(p):
    return lambda x:x**p

In [287]:
sqr = gen_func(2)

In [288]:
sqr(3)

9

In [289]:
cube = gen_func(3)

In [290]:
cube(3)

27

In [291]:
pow_list = []

In [292]:
for i in range(1,10):
    pow_list.append(gen_func(i))

In [295]:
for f in pow_list:
    print (f(10))

10
100
1000
10000
100000
1000000
10000000
100000000
1000000000

In [302]:
[[j for j in range(i)] for i in range(1,20) if i %2 == 0]

[[0, 1],
 [0, 1, 2, 3],
 [0, 1, 2, 3, 4, 5],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]]

In [303]:
l = ['1','2','3','4','5']

In [305]:
list(map(int,l))

[1, 2, 3, 4, 5]

In [306]:
l = [1,3,3,4,44,2]

In [308]:
list(map(lambda x:x+7, l))

[8, 10, 10, 11, 51, 9]

In [316]:
data = [1,'2','34',212,3.2]

In [317]:
def strToNum(x):
    if isinstance(x,str):
        return int(x)
    return x

In [318]:
list(map(strToNum,data))

[1, 2, 34, 212, 3.2]

In [319]:
l = range(100)

In [320]:
names = ['jack','jill','abc','john','rajesh']

In [321]:
list(filter(lambda s: 'j' in s.lower(), names))

['jack', 'jill', 'john', 'rajesh']

In [324]:
s = 'abcdefhja'

In [325]:
list(filter(lambda c: 'a' == c,s))

['a', 'a']

#### Object Oriented Programming

In [326]:
class Complex:
    pass

In [327]:
c1 = Complex()

In [329]:
c1.real = 5
c1.img = 7

In [331]:
c1.__dict__

{'real': 5, 'img': 7}

In [396]:
class Complex:
    def __init__(self, real, img):
        self.real = real
        self.img = img
        
    def __repr__(self):
        return (str(self.real) + ' ' + str(self.img))
    
    def addfunc(self,c):
        self.real += c.real
        self.img += c.img
        
    def __add__(self,c):
        return Complex(self.real + c.real, self.img + c.img)
    
    def __lt__(self,c):
        if self.real < c.real:
            return True
        elif self.real == c.real:
            if self.img < c.img:
                return True
            else:
                return False
        else:
            return False
        
    def __eq__(self,c):
        if (self.real == c.real) & (self.img == c.img):
            return True
        else:
            return False
        
    def __hash__(self):
        return hash(self.real) + hash(self.img)

In [397]:
c1 = Complex(11,5)

In [398]:
c2 = Complex(22,33)

In [378]:
c1 < c2

True

In [357]:
c1.addfunc(c2)

In [399]:
c3 = c1 + c2

In [366]:
c3

33 38

In [389]:
complex_list = [c1,c2,c3]

In [390]:
c1 in complex_list

True

In [391]:
c1

11 5

In [400]:
c4 = Complex(11,5)

In [393]:
c4 in complex_list

True

In [401]:
s = set([c1,c2,c3,c4])

In [402]:
s

{11 5, 22 33, 33 38}

In [424]:
class Employee:
    def __init__(self,name,age,gender,salary = 10000,location='Chennai'):
        self.name = name
        self.age = age
        self.gender = gender
        self.location = location
        self.work = 0
        self.salary = salary
    
    def work(self,hrs):
        self.work += hrs
        print ('Total working hrs ',self.work)
        
    def hike(self,pct):
        self.salary += pct * .01 * self.salary
        print ('Current salary ', self.salary)
        
    def __eq__(self,e):
        if (self.name == e.name) & (self.location == e.location):
            return True
        else:
            return False
        
    def __hash__(self):
        return hash(self.name)+hash(self.location)
        
    def __repr__(self):
        return self.name

In [425]:
e1 = Employee('abc', 23, 'male')
e2 = Employee('def', 34, 'female',20000,'mumbai')
e3 = Employee('ghi', 30, 'male',50000,'mumbai')

In [426]:
e1.hike(20)

Current salary  12000.0

In [427]:
emp_data = [e1,e2,e3]

In [428]:
def getRichEmp(emp_data):
    return filter( lambda e: e.salary > 15000,emp_data)

In [429]:
r = getRichEmp(emp_data)

In [430]:
list(r)

[def, ghi]

In [431]:
attendance_system = {e1:12,e2:15,e3:20}

In [432]:
e = Employee('abc', 23, 'male')

In [434]:
attendance_system

{abc: 12, def: 15, ghi: 20}

In [438]:
list(attendance_system.items())[0]

(abc, 12)