In [1]:
a = 100

In [2]:
b = 100

In [3]:
id(a)

1472494144

In [4]:
id(b)

1472494144

In [7]:
c = 199

In [8]:
id(c)

1472497312

In [16]:
s = "www.helloworld.com "

In [11]:
s.count('d')

1

In [13]:
s.endswith('.com')

True

In [15]:
s.startswith('www')

True

In [17]:
 s.strip()

'www.helloworld.com'

In [19]:
tab = s.maketrans('abc','123')

In [20]:
s.translate(tab)

'www.helloworld.3om '

In [23]:
t = 'hello, world, here i come'

In [24]:
t.split(',')

['hello', ' world', ' here i come']

In [26]:
#string is immutable
#s[1] = 'a'

In [31]:
s[:5]

'www.h'

In [30]:
s[3:]

'.helloworld.com '

In [33]:
s = ['hello','world','here','i','come',2,3.3]

In [35]:
s[1:]

['world', 'here', 'i', 'come', 2, 3.3]

In [36]:
s.append('good')

In [37]:
s

['hello', 'world', 'here', 'i', 'come', 2, 3.3, 'good']

In [38]:
t = ['1','2','3']

In [39]:
s.append(t)

In [40]:
s

['hello', 'world', 'here', 'i', 'come', 2, 3.3, 'good', ['1', '2', '3']]

In [41]:
s.extend(t)

In [42]:
s

['hello',
 'world',
 'here',
 'i',
 'come',
 2,
 3.3,
 'good',
 ['1', '2', '3'],
 '1',
 '2',
 '3']

In [43]:
s.insert(1,'heeeeellloooo')

In [44]:
s

['hello',
 'heeeeellloooo',
 'world',
 'here',
 'i',
 'come',
 2,
 3.3,
 'good',
 ['1', '2', '3'],
 '1',
 '2',
 '3']

In [45]:
l = ['hell','of','a','workout','we', 'did','today']

In [46]:
l.reverse()

In [47]:
l

['today', 'did', 'we', 'workout', 'a', 'of', 'hell']

In [51]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [53]:
l.remove('we')

In [55]:
m = l

In [56]:
n = list(l)

In [57]:
l[0] = 111

In [58]:
n

['today', 'did', 'workout', 'a', 'of', 'hell']

In [59]:
m

[111, 'did', 'workout', 'a', 'of', 'hell']

In [61]:
l.append([1,2,3])

In [65]:
l

[111, 'did', 'workout', 'a', 'of', 'hell', [1, 2, 3]]

In [66]:
n = list(l)

In [67]:
l[-1][-1]=999

In [68]:
n

[111, 'did', 'workout', 'a', 'of', 'hell', [1, 2, 999]]

In [69]:
s = ['heelo','world','gere']

In [71]:
'*'.join(s)

'heelo*world*gere'

In [72]:
data = "i love my country"

In [86]:
data.split()

In [87]:
l.reverse()

In [78]:
l.

['country', 'my', 'love', 'i']

In [79]:
' '.join(l)

'country my love i'

In [80]:
t = (1,2)

In [81]:
def func(salary,age):
    return (salary*2,age+5)

In [82]:
func(1000,23)

(2000, 28)

In [83]:
t = (10000,25)

In [84]:
func(*t)

(20000, 30)

### Dictionary

In [88]:
db = {}
db = dict()

In [89]:
l = [('hari',22),('udita',23),('apurv',24)]

In [90]:
for name,age in l:
    if name == 'udita':
        print (age)

23

In [92]:
db['hari'] = 22
db['udita'] = 23
db['apurv'] = 24

In [93]:
db

{'apurv': 24, 'hari': 22, 'udita': 23}

In [94]:
db['hari']

22

In [95]:
db.keys()

dict_keys(['hari', 'udita', 'apurv'])

In [96]:
db.values()

dict_values([22, 23, 24])

In [97]:
db.items()

dict_items([('hari', 22), ('udita', 23), ('apurv', 24)])

In [98]:
db['awantik'] = {'a':1,'b':2}

In [99]:
db

{'apurv': 24, 'awantik': {'a': 1, 'b': 2}, 'hari': 22, 'udita': 23}

In [100]:
db['awantik']['a']

1

In [107]:
def func(name,location='bangalore'):
    print ('Mr {0}, lives in {1}'.format(name,location))

In [110]:
func(location='hari',name='delhi')

Mr delhi, lives in hari

In [111]:
def func2(name,age,loc):
    print (name,age,loc)

In [112]:
l = ['awantik',22,'blore']

In [113]:
func2(*l)

awantik 22 blore

In [116]:
def func3(*args):
    for arg in args:
        print(arg)

In [117]:
func3('abc',1,1.1)

abc
1
1.1

In [122]:
def func4(**kwargs):
    if 'gender' in kwargs:
        print (kwargs['gender'])
        
    if 'name' in kwargs:
        print (kwargs['name'])

In [123]:
func4(name='abc',loc='blore')

abc

In [124]:
func4(gender='female')

female

### Functional Programming

In [125]:
l = ['1','2','3','4','5']

In [127]:
list(map(int,l))

[1, 2, 3, 4, 5]

In [134]:
l = list(range(1,20,1))

In [135]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [131]:
def fun(x):
    return 2*x
list(map(fun,l))

[2, 6, 10, 14, 18, 22, 26, 30, 34, 38]

In [132]:
list(map(lambda x:x*2,l))

[2, 6, 10, 14, 18, 22, 26, 30, 34, 38]

In [136]:
list(map(lambda x:2*x if x % 2 == 0 else 3*x,l))

[3, 4, 9, 8, 15, 12, 21, 16, 27, 20, 33, 24, 39, 28, 45, 32, 51, 36, 57]

In [138]:
l = [i for i in range(1,100) if i%2 != 0]

In [145]:
def getIter():
    nums = list(range(1000000000))
    i = 0
    while True:
        yield nums[i]
        i += 1

In [146]:
iter = getIter()

In [143]:
next(iter)

0

In [144]:
next(iter)

1

In [1]:
import re

In [14]:
#str = 'an example word:cat!!'

In [24]:
match = re.search('hello',r'hello world')

In [26]:
match.start()

0

In [27]:
match.end()

5

In [36]:
s = 'hello 123 abc 24 '

In [42]:
match = re.findall('\w\w\w ',s)

In [43]:
match

['llo ', '123 ', 'abc ']

In [44]:
class Student(object):
    def __init__(self,name,gender,location):
        self.name = name
        self.gender = gender
        self.location = location
        
    def show_details(self):
        print (self.name,self.gender, self.location)

In [46]:
s1 = Student('abc','male','mumbai')

In [47]:
s2 = Student('abcd','female','panvel')

In [49]:
s1.show_details()

abc male mumbai

In [50]:
s1.__dict__

{'gender': 'male', 'location': 'mumbai', 'name': 'abc'}

In [51]:
s1.hello = 'good'

In [52]:
s1.__dict__

{'gender': 'male', 'hello': 'good', 'location': 'mumbai', 'name': 'abc'}

In [54]:
s2.__dict__

{'gender': 'female', 'location': 'panvel', 'name': 'abcd'}

In [55]:
s1.hello

'good'