### Properties of List
* Mutable - Contents can change unlike string
* Shrink & Grow in size
* Hetrogenous storage - can contain differnt type of data

In [1]:
l = list() #Creating an empty list
l = [] #Creating an empty list

In [2]:
l = [1,2,3,4,6,7]

In [4]:
l  = [1,'Hello',[1,2,3],4.5]

In [6]:
l

[1, 'Hello', [1, 2, 3], 4.5]

In [9]:
#Add data to list at the end
l.append(11)

In [8]:
l

[1, 'Hello', [1, 2, 3], 4.5, 11]

In [10]:
l

[1, 'Hello', [1, 2, 3], 4.5, 11, 11]

In [11]:
l.clear() #Delete all the contents of list

In [12]:
l

[]

In [13]:
l = [1,3,4,5,5,66,6,3]

In [14]:
m = l.copy() #Making a separate copy of data

In [15]:
m

[1, 3, 4, 5, 5, 66, 6, 3]

In [19]:
l[1] = 99 #Add data 99 at position 1

In [17]:
l

[1, 99, 4, 5, 5, 66, 6, 3]

In [18]:
m

[1, 3, 4, 5, 5, 66, 6, 3]

In [21]:
l[0] #Dump the contents of 0th pos of l

1

In [22]:
l

[1, 99, 4, 5, 5, 66, 6, 3]

In [23]:
l[2]

4

In [24]:
l[0]

1

In [25]:
l[1]

99

In [27]:
l[2] = 878787

In [28]:
m

[1, 3, 4, 5, 5, 66, 6, 3]

In [29]:
#To update contents of m
m = l.copy()

In [30]:
l.count(1)

1

In [32]:
#Add contents of m in l
l.extend(m)

In [33]:
l

[1,
 99,
 878787,
 5,
 5,
 66,
 6,
 3,
 1,
 99,
 878787,
 5,
 5,
 66,
 6,
 3,
 1,
 99,
 878787,
 5,
 5,
 66,
 6,
 3]

In [34]:
#This will not change the contents of l but return added concat of l & m
l + m

[1,
 99,
 878787,
 5,
 5,
 66,
 6,
 3,
 1,
 99,
 878787,
 5,
 5,
 66,
 6,
 3,
 1,
 99,
 878787,
 5,
 5,
 66,
 6,
 3,
 1,
 99,
 878787,
 5,
 5,
 66,
 6,
 3]

In [40]:
#1st arg - fisrt index of the value starting from 2nd arg
l.index(5,4,9)

4

In [37]:
l

[1,
 99,
 878787,
 5,
 5,
 66,
 6,
 3,
 1,
 99,
 878787,
 5,
 5,
 66,
 6,
 3,
 1,
 99,
 878787,
 5,
 5,
 66,
 6,
 3]

In [38]:
help(l.index)

Help on built-in function index:

index(...) method of builtins.list instance
    L.index(value, [start, [stop]]) -> integer -- return first index of value.
    Raises ValueError if the value is not present.

In [43]:
#This will insert & not overwrite
l.insert(5,'jdhsjdhsd')

In [42]:
l

[1,
 99,
 878787,
 5,
 5,
 'jdhsjdhsd',
 66,
 6,
 3,
 1,
 99,
 878787,
 5,
 5,
 66,
 6,
 3,
 1,
 99,
 878787,
 5,
 5,
 66,
 6,
 3]

In [48]:
#Removes data at that index
#If you don't pass anything, it will remove last element
l.pop(3)

'jdhsjdhsd'

In [47]:
#remove by value, This will not remove all the values but the first occurance
l.remove(878787)

In [46]:
l

[1,
 99,
 5,
 'jdhsjdhsd',
 'jdhsjdhsd',
 66,
 6,
 3,
 1,
 99,
 878787,
 5,
 5,
 66,
 6,
 3,
 1,
 99,
 878787,
 5,
 5,
 66,
 6,
 3]

In [50]:
#Returns the last data
l[-1]

3

In [51]:
#Returns the first data
l[0]

1

In [52]:
l.reverse()

In [53]:
l

[3,
 6,
 66,
 5,
 5,
 878787,
 99,
 1,
 3,
 6,
 66,
 5,
 5,
 99,
 1,
 3,
 6,
 66,
 'jdhsjdhsd',
 5,
 99,
 1]

In [55]:
m = [343,232,1,12,1212]

In [56]:
m.sort()

In [57]:
m

[1, 12, 232, 343, 1212]

In [58]:
m.sort(reverse=True)

In [59]:
m

[1212, 343, 232, 12, 1]

In [60]:
## Univalsal Functions

In [61]:
sum(m)

1800

In [62]:
max(m)

1212

In [63]:
min(m)

1

In [67]:
#Import math library for all mathematical operations 
import math

In [65]:
math.log(10)

2.302585092994046

In [66]:
math.pi

3.141592653589793

In [68]:
math.sqrt(10)

3.1622776601683795

In [69]:
4 ** 2

16

In [70]:
4 ** 3

64

In [71]:
math.pow(10,3)

1000.0

In [73]:
l = list(range(1,100,5))

In [74]:
for i in l:
    print (i)

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96

In [75]:
l = [2,4,5,6,7,7,7,3,33,3,3,3]

In [76]:
for i in l:
    if i % 2 == 0:
        print (i)

2
4
6

In [77]:
l = [ [1,2,3], [4,5,6], [7,8,9] ]

In [78]:
m = [ 99,88,77 ]

In [79]:
l.append(m)

In [80]:
l

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [99, 88, 77]]

In [81]:
k = [1,2,3,m]

In [82]:
k

[1, 2, 3, [99, 88, 77]]

### Dictionary
* Unordered - stored not in the same way data is added
* Key - Value Data structure
* Associative data
* Access data with O(1) complexity, fast access
* Dictionary keys are unique

In [84]:
#Create an empty dictionary
db = {}
db = dict()

In [85]:
#Add contents to dict, 'awi' & 'bwi' are keys. And 11,22 are values
db['awi'] = 11
db['bwi'] = 22

In [86]:
db

{'awi': 11, 'bwi': 22}

In [87]:
db['awi']

11

In [89]:
db.keys()

dict_keys(['awi', 'bwi'])

In [90]:
db.values()

dict_values([11, 22])

In [91]:
db['bwi']

22

In [92]:
del db['awi']

In [93]:
db

{'bwi': 22}

In [94]:
for k,v in db.items():
    print (k,v)

bwi 22

In [95]:
db.items()

dict_items([('bwi', 22)])

In [96]:
db['zeke'] = 66

In [97]:
db.items()

dict_items([('bwi', 22), ('zeke', 66)])

In [98]:
for i,j in db.items():
    print (i,j)

bwi 22
zeke 66