In [1]:
from bs4 import BeautifulSoup

In [86]:
infile = open('/home/awantik/workspace/xml_parsing/books.xml')

In [87]:
contents = infile.read()

In [88]:
soup = BeautifulSoup(contents, 'xml')

In [50]:
titles = soup.find_all('title')

In [51]:
titles

[<title>The Cat in the Hat</title>,
 <title>Ender's Game</title>,
 <title>Prey</title>]

In [52]:
authors = soup.find_all('author')

In [53]:
authors

[<author>Dr. Seuss</author>,
 <author>Orson Scott Card</author>,
 <author>Michael Crichton</author>]

In [54]:
prices = soup.find_all('price')

In [55]:
prices

In [56]:
import pandas as pd
df = pd.DataFrame(columns=['Name','Author','Price'])

for i in range(len(titles)):
    d = pd.DataFrame({'Name':[titles[i].get_text()] ,'Author':[authors[i].get_text()], 'Price':[prices[i].get_text()]})
    df = df.append(d, ignore_index=True)

In [57]:
df

                 Name            Author Price
0  The Cat in the Hat         Dr. Seuss  7.99
1        Ender's Game  Orson Scott Card  8.99
2                Prey  Michael Crichton  9.35

In [93]:
books = soup.find_all('book')

In [94]:
df = pd.DataFrame(columns=['Name','Author','Price','Discount','Currency'])

for book in books:
    print (book.attrs)
    r = {}
    r['Name'] = [book.find('title').get_text()]
    r['Author'] = [book.find('author').get_text()]
    r['Price'] = [book.find('price').get_text()]
    try:
        r['Discount'] = [book.find('discount').get_text()]
        attrs = book.find('discount').attrs
        if 'currency' in attrs:
            r['Currency'] = attrs['currency']
        print ('*')
    except:
        pass
        
    d = pd.DataFrame(r)
    df = df.append(d, ignore_index=True)

{'pub': 'abc'}
*
{'pub': 'def'}
{'pub': 'jkl'}
*

In [80]:
df

             Author Currency Discount                Name Price
0         Dr. Seuss       eu       10  The Cat in the Hat  7.99
1  Orson Scott Card      NaN      NaN        Ender's Game  8.99
2  Michael Crichton       rs       10                Prey  9.35

In [67]:
soup.find_all('discount')