### Tuple
* Immutable datastructure - Immutability makes data safe
* Often used for passing information across functions.
* Function call, function return - everything is tuple, we will visit shortly
* Value to tuple can be re-assigned & contents can't b altered

In [1]:
tup1 = (1,2,3)

In [2]:
type(tup1)

tuple

In [3]:
tup1[0]
tup1
t = (1,)
type(t)

tuple

In [4]:
tup1 = (88,8)
#Immutable datastructure
#Often used for passing information across functions.
#Function call, function return - everything is tuple

### Dictionary
* Key-Value data stucture
* Assotiative data storage
* Un-ordered

In [5]:
#Creating empty dictionary
db = {}
db = dict()

In [6]:
db = {'a':'abcdef','c':'cook'}

In [7]:
db

{'a': 'abcdef', 'c': 'cook'}

In [8]:
db['a']

'abcdef'

In [9]:
db.items()

dict_items([('a', 'abcdef'), ('c', 'cook')])

In [10]:
db.keys()

dict_keys(['a', 'c'])

In [11]:
db.values()

dict_values(['abcdef', 'cook'])

In [12]:
db['d'] = 'dog'

In [13]:
db

{'a': 'abcdef', 'c': 'cook', 'd': 'dog'}

In [14]:
db['e'] = list([1,2,6,7,5])

In [15]:
db

{'a': 'abcdef', 'c': 'cook', 'd': 'dog', 'e': [1, 2, 6, 7, 5]}

In [16]:
db['e'].reverse()

In [17]:
db

{'a': 'abcdef', 'c': 'cook', 'd': 'dog', 'e': [5, 7, 6, 2, 1]}

In [18]:
db['a']

'abcdef'

In [19]:
db.pop('a')

'abcdef'

In [20]:
db

{'c': 'cook', 'd': 'dog', 'e': [5, 7, 6, 2, 1]}

In [21]:
del db['c']

In [23]:
db['e'] = 'good stuff again'
db

{'d': 'dog', 'e': 'good stuff again'}

In [32]:
student = {}
student['abby'] = [82,56,54,91]
student['jack'] = [22,56,54,93]
student['berry'] = [42,56,54,92]
student['stats'] = [72,56,54,90]

max_student = {}

for name,marks in student.items():
    print(name,max(marks))
    max_student[name]= max(marks)
    
def keyFunc(d):
    return d[1]

sorted(max_student.items(),key=keyFunc)

stats 90
jack 93
abby 91
berry 92

[('stats', 90), ('abby', 91), ('berry', 92), ('jack', 93)]

### Sets
* Contains unique elements
* Not in order in which data was inserted

In [36]:
s = set([2,3,4,5,6,6])

In [37]:
s

{2, 3, 4, 5, 6}

In [38]:
s1 = set([5,6,7,8])

In [39]:
s

{2, 3, 4, 5, 6}

In [40]:
s1

{5, 6, 7, 8}

In [41]:
s.union(s1)

{2, 3, 4, 5, 6, 7, 8}

In [42]:
s

{2, 3, 4, 5, 6}

In [43]:
s1

{5, 6, 7, 8}

In [44]:
s.difference(s1)

{2, 3, 4}

In [45]:
s.intersection(s1)

{5, 6}

In [46]:
std_marks = {'rajat':100, 'ravi':20, 'awantik':35, 'das':88}

In [47]:
for k,v in std_marks.items():
    print(k,v)

ravi 20
das 88
awantik 35
rajat 100

In [48]:
max(std_marks.values())

100

In [49]:
std_marks.items()

dict_items([('ravi', 20), ('das', 88), ('awantik', 35), ('rajat', 100)])

In [51]:
sports_ravi = set(['cricket','football','tennis'])

In [52]:
sports_ranjeet = set(['football','khokho','chess'])

In [53]:
sports_ranjeet.intersection(sports_ravi)

{'football'}

In [54]:
#Generates an iterator from 0 to 9
#Python won't generate all the data, rather will be returning iterator, which can be used list function to fetch
l = range(10)

In [55]:
l

range(0, 10)

In [56]:
list(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
list(range(5,20,2))

[5, 7, 9, 11, 13, 15, 17, 19]

In [60]:
max(list(range(100,10,-5)))

100

In [61]:
sum(list(range(100,10,-5)))

1035

In [68]:
#Will return True as long as any data is non-zero
any([1,2,3,0])

True

In [69]:
#Will return True only if all is non-zero
all([11,22,33])

True

In [66]:
l = [[1,2,3],[4,5,6],[7,8,9]]

In [67]:
l

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]